/* body{
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} */
body{
    text-align: center;
    
}
.input{
    border: 2px solid black;
    padding: 1em;
}