*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
}
h2 {
    text-align: center;
    text-decoration: underline;
}
img{
    cursor: pointer;
    height:300px;
    width:480px;
    border: 2px solid rgba(0, 0, 0, 0.421);
    margin-left: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
img:hover{
   transform: scale(1.01);
   transition: transform 0.2s ease;
   
}
.table,th,td{
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin: 20px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.025);
}
.userform{
  border: 0px solid grey;
  width: 50vh;
  margin: auto;
  padding: 15px;
  /* padding-right: 5px; */
  box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
}
form{
}
input{
  width: 100%;
  margin: 5px 0px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  border: 1px solid gray;
}
#btn{
  background-color: green;
  color: white;
  border: none ;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}