*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
gap: 20px;
width: 100%;
}
.box{
    background-color: red;
    height: 80vh;
    width: 50%;
}
.header{
    display: flex;
    background-color: purple;
    height: 20vh;
    width: 100%;
    align-items: center;
    /* text-align: center; */
    justify-content: center;

}
.y{
    background-color: yellow;
    display: flex;
    width: 100%;
    
    /* height: 80vh; */
    flex-wrap: wrap;
}
.g{
    background-color: green;
    height: 20vh;
    width: 50%;
    /* margin-right:5px ; */
}
.b{
    background-color: blue;
    height: 20vh;
    width: 50%;
}
.v{
    background-color: violet;
    height: 20vh;
    width: 25%;
    /* justify-content: end; */
}
.o{
    background-color: orange;
    height: 20vh;
    width: 25%;
}
.y{
    background-color: aqua;
    width: 50%;
    height: 20vh;
}
.footer{
    background-color: bisque;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}